.profile {
  position: relative;
  box-sizing: border-box;
  width: 340px;
  padding: 100px 45px 160px 20px;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: -1;
    width: 280px;
    height: calc(100% - 40px);
    clip-path: polygon(100% 1%, 78% 96%, 0% 87%, 0% 3%);
    background-color: black;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;
    width: 280px;
    height: calc(100% - 40px);
    clip-path: polygon(100% 5%, 90% 100%, 0% 80%, 0% 0%);
    background-color: #ffff00;
  }

  &__imgWrapper {
    margin: 0 auto;
  }

  &__infoBlock {
    margin-top: 20px;
  }
}

.imgWrapper {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 7px solid black;
  overflow: hidden;

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 210px;
    transform: translate(-45%, -25%);
  }
}

.infoBlock {
  &__name {
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
  }

  &__list {
    padding-left: 50px;
    margin: 10px 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  &__itemName {
    font-size: 16px;
    font-weight: 600;
  }

  &__itemInfo {
    font-size: 16px;
  }
}

$redColor: #ffffff;
$blueColor: #8b00ff;

.flex-center {
  width: 80%;
  margin: 0 auto;

  background: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 300ms 10;
  animation: icon3d 300ms 10;
  color: #000;
  &:hover {
    -webkit-animation: icon3d 300ms infinite;
    animation: icon3d 300ms infinite;
  }
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px $redColor, -5px -6px $blueColor;
  }
  25% {
    text-shadow: -5px -6px $redColor, 5px 4px $blueColor;
  }
  50% {
    text-shadow: 5px -4px $redColor, -8px 4px $blueColor;
  }
  75% {
    text-shadow: -8px -4px $redColor, -5px -4px $blueColor;
  }
  100% {
    text-shadow: -5px 0 $redColor, 5px -4px $blueColor;
  }
}

.qrCode {
  display: block;
  width: 200px;
  margin: 20px auto;
}
